.loader {
  width: 50px;
  --b: 8px; 
  margin-right: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%,#F91F15) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation:loader 1s infinite steps(10);
}
@keyframes loader {to{transform: rotate(1turn)}}

.text-loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: text-loader-key 1s steps(4) infinite;
}
.text-loader:before {
  content:"Loading..."
}
@keyframes text-loader-key {to{clip-path: inset(0 -1ch 0 0)}}